<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Consultas</title>
	<link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/css/global.css">
	<script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-es.js"></script>
</head>
<body>

    <script>
        function buscar(){
            
            var query = $('#queryConsulta').searchbox('getValue');
            var medico = $('#medicoConsulta').combobox('getValue')
            var fecha_hora = $('#fecha_horaConsulta').datebox('getValue');

            $('#datagrid').datagrid('load', {
                query: query,
                medico: medico,
                fecha_hora: fecha_hora
            });
        }


        function ver(){

            var fila = $('#datagrid').datagrid('getSelected');
            if(fila == null) return;

            $('#ventanaConsulta').window('refresh', '/consultas/form/' + fila.nro_consulta + '/');
            $('#ventanaConsulta').window('setTitle', 'Ver consulta');
            $('#ventanaConsulta').window('open');

        }

        function imprimir(){
            var query = $('#queryConsulta').searchbox('getValue');
            var medico = $('#medicoConsulta').combobox('getValue')
            var fecha_hora = $('#fecha_horaConsulta').datebox('getValue');

            $('#datagrid').datagrid('load', {
                query: query,
                medico: medico,
                fecha_hora: fecha_hora
            });
            var uri = 'query=' + encodeURI(query) + '&medico=' + encodeURI(medico) + '&fecha_hora=' + encodeURI(fecha_hora)
            var win = window.open('/consultas/imprimir?' + uri);
        }

    </script>


	<h2>Consultas</h2>

	<div style="margin:10px 0;"></div>


    <!-- Tabla donde se muestran los datos-->
    <div align="center">

        <div id="toolbar" style="padding:5px; height:auto">
            <div style="margin-bottom:5px; display: inline-block; vertical-align: middle; width: 40%">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="view" plain="true" onclick="ver()"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="imprimir()"></a>
            </div>
            <div style="text-align: right; display: inline-block; vertical-align: middle; width: 50%">
                <input id="queryConsulta" class="easyui-searchbox" style="width: 400px;" data-options="prompt:'Por favor ingrese un valor', searcher:buscar"  />
            </div>
            <div>
                <div style="text-align: right; display: inline-block; vertical-align: middle; width: 40%;">
                    <span>Medico: </span>
                    <select class="easyui-combobox" data-options="editable:false" id="medicoConsulta"  {% if usuario.login != 'Administrador' %} readonly {% endif %}>
                        <option value="">Todos</option>
                        {% for med in medicos %}
                            {% if med.cedula == usuario.cedula and usuario.login != 'Administrador' %}
                                <option value="{{ med.cedula }}" selected="selected">{{ med.apellidos }} {{ med.nombres }}</option>
                            {% else %}
                                <option value="{{ med.cedula }}">{{ med.apellidos }} {{ med.nombres }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div style="text-align: right; display: inline-block; vertical-align: middle; width: 30%">
                    <span>Fecha: </span>
                    <input class="easyui-datebox" data-options="formatter:myformatterdate,parser:myparserdate,editable:false" id="fecha_horaConsulta"  />
                </div>
                <div style="text-align: right; display: inline-block; vertical-align: middle; width: 15%">
                    <a class="easyui-linkbutton" onclick="buscar();">Buscar</a>
                </div>
            </div>
        </div>

        <table id="datagrid" class="easyui-datagrid" title="Listado de Consultas" style="width:700px;  height:400px; "
            rownumbers="true" fitColumns="true" striped="true" nowrap="false" toolbar="#toolbar"
               data-options="singleSelect:true, collapsible:false, url:'/consultas/leer/', method:'get', pagination:true,
                    pageSize:10">
            <thead>
                <tr>
                    <th data-options="field:'fecha_hora', width:38" ><strong>Fecha y Hora</strong></th>
                    <th data-options="field:'paciente_id', width:35" ><strong>H. Clinica</strong></th>
                    <th data-options="field:'paciente', width:60" ><strong>Paciente</strong></th>
                    <th data-options="field:'medico', width:60" ><strong>Médico</strong></th>
                </tr>
            </thead>
        </table>

    </div>

</body>
</html>
