{% extends 'Publico/container.html' %}

{% block head %}

<style>
    .art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
    .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
    .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style>

{% endblock head %}


{% block menuContactenos %}
    class="active"
{% endblock menuContactenos %}


{% block contenido %}
    <div class="art-postmetadataheader">
        <h2 class="art-postheader"><span class="art-postheadericon">Contáctenos</span></h2>
    </div>
    <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
    <p style="text-align: justify;"><span style="color: rgb(75, 121, 149); font-size: 18px; font-weight: bold;">Consultorio Odontológico</span><br></p><p style="text-align: justify;"><span style="font-weight: bold;">Teléfonos:</span><br></p><p style="text-align: justify;">072924959 - 0991784081<span style="color: rgb(75, 121, 149); font-size: 18px; font-weight: bold;"><br></span></p><p style="text-align: justify;"><span style="font-weight: bold;">Ciudad:</span><br></p><p style="text-align: justify;">Machala<br></p><p style="text-align: justify;"><span style="font-weight: bold;">Dirección:
    </span><br></p>
        <p style="text-align: justify;">Cdla. Las Brisas.</p>
        <p style="text-align: justify;"><span style="font-weight: bold;">Email:</span><br></p>
        <p style="text-align: justify;">A.<a href="http://www.CyroxHospital.com">http://www.luis_peñaherrera.hotmail.com</a><br></p><p style="text-align: justify;"><br></p>
    </div>
    </div>
</div>
</div>
{% endblock contenido %}