{% extends 'Publico/container.html' %}

{% block head %}
    <style>
        .art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
        .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
        .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
    </style>
{% endblock head %}


{% block menuServicios %}
    class="active"
{% endblock menuServicios %}


{% block contenido %}
        <div class="art-postmetadataheader">
            <h2 class="art-postheader"><span class="art-postheadericon">Servicios</span></h2>
        </div>
        <div class="art-postcontent art-postcontent-0 clearfix">
            <div class="art-content-layout">
<div class="art-content-layout-row">
<div class="art-layout-cell layout-item-0" style="width: 100%" >
<p style="text-align: justify;"><span style="text-align: justify; -webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px; font-family: Arial;">Ponemos a su disposición equipos de Rayos X, cámara de video intraoral,
ultrasonido para profilaxis, y luz halógena. Enfocamos la salud oral desde un
punto de vista integral ya que la boca es una parte importante del cuerpo
humano y muchas veces es responsable de muchos padecimientos en la salud
general del ser humano.</span><br></p><p style="text-align: justify;"><span style="font-size: 9pt; line-height: 107%; color: black; font-family: Arial;"></span></p>
</div>
</div>
</div>
<div class="art-content-layout">
<div class="art-content-layout-row">
<div class="art-layout-cell layout-item-0" style="width: 50%" >
<ul><li style="text-align: justify;"><span style="font-family: Arial;"><span style="color: rgb(21, 70, 101);"><span style="color: #154665;">Ortodoncia</span>.</span><br></span></li><li style="text-align: justify;"><span style="font-family: Arial;">Blanqueamientos.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Protésis.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Implantes.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Extracciones.</span></li></ul>
</div><div class="art-layout-cell layout-item-0" style="width: 50%" >
<ul><li style="text-align: justify;"><span style="font-family: Arial;">Estética dental.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Patología.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Pariodoncia.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Ortopedia.</span></li><li style="text-align: justify;"><span style="font-family: Arial;">Cirugía maxilofacial.</span></li></ul>
</div>
</div>
</div>
</div>
{% endblock contenido %}


