<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Producto</title>
        <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/bootstrap/easyui.css">
        <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="/static/css/global.css">
        <script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-es.js"></script>
    </head>
    <body>
        <script type="text/javascript">

            function guardar(){

                $('#formularioProducto').form('submit', {
                    url: "/productos/guardar/",
                    onSubmit: function() {
                        return $(this).form('validate');
                    },
                    success: function(result) {

                        var result = eval('(' + result + ')');

                        if (result == true) {
                            $('#ventanaProducto').dialog('close');
                            $('#datagrid').datagrid('reload');

                            $.messager.show({
                                title: 'Ok',
                                msg: 'Se ha guardado con exito'
                            });
                        }
                        else {
                            $.messager.show({
                                title: 'Error',
                                msg: result
                            });
                        }
                    }
                });
            }

            function cancelar(){
                $('#ventanaProducto').dialog('close');
            }

        </script>
        <div>
            <form id="formularioProducto" method="post" novalidate="novalidate">
                <input type="hidden" value="{{ objeto.id }}" name="id" />
                <table>
                    <tr>
                        <td>Nombre: </td>
                        <td><input class="easyui-validatebox" type="text" name="nombre" data-options="required:true" value="{{ objeto.nombre }}" maxlength="80" size="60" /></td>
                    </tr>
                    <tr>
                        <td>Cantidad: </td>
                        <td><input class="easyui-numberbox" data-options="precision:2, required:true, min:0" name="cantidad" value="{{ objeto.cantidad }}" /></td>
                    <tr>
                    <tr>
                        <td>Precio: </td>
                        <td><input class="easyui-numberbox" data-options="precision:2, required:true, min:0" name="precio" value="{{ objeto.precio }}" /></td>
                    <tr>
                </table>
            </form>
            <div style="text-align:right; padding:5px">
                <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-save"  onclick="guardar()">Guardar</a>
                <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-cancel"  onclick="cancelar()">Cancelar</a>
            </div>
        </div>
    </body>
</html>