<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Medicos</title>
	<link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/css/global.css">
	<script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-es.js"></script>
</head>
<body>

    <script>
        function buscar(value){
            $('#datagrid').datagrid('load', {
                query: value
            });
        }

        function nuevo(){
            $('#ventanaMedico').window('refresh', '/medicos/form/');
            $('#ventanaMedico').window('open');
        }

        function editar(){

            var fila = $('#datagrid').datagrid('getSelected');
            if(fila == null) return;

            $('#ventanaMedico').window('refresh', '/medicos/form/' + fila.cedula + '/');
            $('#ventanaMedico').window('open');
        }

        function eliminar(){

            var fila = $('#datagrid').datagrid('getSelected');
            if(fila == null) return;

            $.messager.confirm('Eliminar Médico', 'Esta seguro que desea eliminar este medico?', function(r){
                if (r){
                    jQuery.ajax({
                        type: "POST",
                        url: '/medicos/eliminar/',
                        data: {
                            cedula: fila.cedula
                        },
                        success: function(result){

                            var result = eval('(' + result + ')');

                            if (result) {
                                $('#ventana').dialog('close');
                                $('#datagrid').datagrid('reload');

                                $.messager.show({
                                    title: 'Ok',
                                    msg: 'Se ha eliminado con exito'
                                });
                            }
                            else {
                                $.messager.show({
                                    title: 'Error',
                                    msg: 'Hubo un error al eliminar'
                                });
                            }
                        },
                        dataType: 'json'
                    });
                }
            });
        }

        function imprimir(){
            var value = $('#queryMedico').searchbox('getValue');
            var uri = encodeURI(value)
            var win = window.open('/medicos/imprimir?query=' + uri);
        }

    </script>


	<h2>Medicos</h2>

	<div style="margin:10px 0;"></div>


    <!-- Tabla donde se muestran los datos-->
    <div align="center">

        <div id="toolbar" style="padding:5px; height:auto">
            <div style="margin-bottom:5px; display: inline-block; vertical-align: middle;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="nuevo()"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editar()"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="eliminar()"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="imprimir()"></a>
            </div>
            <div style="text-align: right; display: inline-block; vertical-align: middle; float: right; margin-right: 5px;">
                <input id="queryMedico" class="easyui-searchbox" style="width: 400px;" data-options="prompt:'Por favor ingrese un valor', searcher:buscar"  />
            </div>
        </div>

        <table id="datagrid" class="easyui-datagrid" title="Listado de Medicos" style="width:800px;  height:400px; "
            rownumbers="true" fitColumns="true" striped="true" nowrap="false" toolbar="#toolbar"
               data-options="singleSelect:true, collapsible:false, url:'/medicos/leer/', method:'get', pagination:true,
                    pageSize:10">
            <thead>
                <tr>
                    <th data-options="field:'cedula', width:20" ><strong>Cedula</strong></th>
                    <th data-options="field:'nombres', width:30" ><strong>Nombres</strong></th>
                    <th data-options="field:'apellidos', width:30" ><strong>Apellidos</strong></th>
                    <th data-options="field:'login', width:20" ><strong>Login</strong></th>
                </tr>
            </thead>
        </table>
    </div>

</body>
</html>
