*{
	font-size:12px;
}
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.tip{
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}

.cog {
    background-image: url('/static/images/cog.gif');
    background-repeat: no-repeat;
}

.plant{
    background-image: url('/static/images/plantillas.png');
    background-repeat: no-repeat;
}

.view{
    background-image: url('/static/images/magnify.png');
    background-repeat: no-repeat;
}
