<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cambiar contraseña</title>
        <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/bootstrap/easyui.css">
        <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="/static/css/global.css">
        <script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-es.js"></script>
    </head>
    <body>
        <script type="text/javascript">

            function guardar(){

                $('#formularioPassword').form('submit', {
                    url: "/password/",
                    onSubmit: function() {
                        return $(this).form('validate');
                    },
                    success: function(result) {

                        if (result == 'true') {
                            $('#ventana').dialog('close');

                            $.messager.show({
                                title: 'Ok',
                                msg: 'Se ha cambiado con éxito'
                            });
                        }
                        else {
                            var msg;
                            if(result == 'false'){
                                msg = 'Hubo un error al cambiar la contraseña';
                            }
                            else{
                                msg = result;
                            }
                            $.messager.show({
                                title: 'Error',
                                msg: msg
                            });
                        }
                    }
                });
            }

            function cancelar(){
                $('#ventana').dialog('close');
            }

            function validarPassword(value){
                var valido = $('#password') == $('passwordrepeat')
                if(valido){
                    $.messager.show({
                        title: 'Ok',
                        msg: 'Contraseñas no coinciden'
                    });
                }
            }

        </script>
        <div>
            <form id="formularioPassword" method="post" novalidate="novalidate">
                <table>
                    <tr>
                        <td>Contraseña actual: </td>
                        <td><input class="easyui-validatebox" type="password" name="passwordold" id="passwordold" data-options="required:true"  maxlength="20" size="50" /></td>
                    </tr>
                    <tr>
                        <td>Contraseña nueva: </td>
                        <td><input class="easyui-validatebox" type="password" name="password" id="password" data-options="required:true"  maxlength="20" size="50"  onblur="validarPassword();" /></td>
                    </tr>
                    <tr>
                        <td>Repita Contraseña nueva: </td>
                        <td><input class="easyui-validatebox" type="password" name="passwordrepeat" id="passwordrepeat" data-options="required:true " maxlength="20" size="50" onblur="validarPassword();" /></td>
                    </tr>
                </table>
            </form>
            <div style="text-align:right; padding:5px">
                <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-save"  onclick="guardar()">Guardar</a>
                <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-cancel"  onclick="cancelar()">Cancelar</a>
            </div>
        </div>
    </body>
</html>